<!DOCTYPE html>
<html>
  <head>
    <title>【<%= @current_user.user_name %>先生】執筆スペース</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117552395-1"></script>
  <script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-117552395-1');
  </script>
  	<header>
	  <div class="authorHeader">
		  <div class="usualHeader_logo">
			  <%= link_to image_tag('/BookChat_logo.png', { :border => '0', :alt => 'BookChat'}), "/users/#{@current_user.id}/author_central" %>
		  </div>
		  <div class="book_information_edit" align="center">
			  <div class="book_title_head">
				  <%= @book.book_title %>
			  </div>
			  <div class="book_chapter_head">
				  <%=@chat.chapter_id%>話　<%= @chat.chapter_title%>
			  </div>
		  </div>
		  <ul class="menu1">
				<li class="teacher_header_name thm thn"><span>MENU▼</span>
					<ul class="sub thn">
						  <li class="thn"><%= link_to("トップページ","/")%></li>
						  <li class="thn"><%= link_to("プロフィール編集","/users/#{@current_user.id}/edit_user")%></li>
						  <li class="thn"><%= link_to("ログアウト","/logout",{method: "post"})%></li>
					</ul>
				</li>
			 </ul> 
		  <div class="clear clear_right"></div>
	  </div>
	</header>
	
	<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
	<%end%>
	
    <%= yield %>
  </body>
</html>
