<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117552395-1"></script>
  <script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-117552395-1');
  </script>
  	<header>
	  <div class="authorHeader">
		  <div class="usualHeader_logo">
			  <%= link_to image_tag('/BookChat_logo.png', { :border => '0', :alt => 'BookChat'}), "/" %>
		  </div>
		  <div class="author_information" align="center">
			  <div class="book_title_head">
				  <%= @book.book_title %>
			  </div>
			  <div class="book_chapter_head">
				  目次
			  </div>
		  </div>
		  <%if session[:user_id] %>
			  <ul class="menu1">
				<li class="teacher_header_name thm thn"><span>MENU▼</span>
					<ul class="sub thn">
						  <li class="thn"><%= link_to("#{@current_user.user_name.truncate(10)}様ページ","/users/#{@current_user.id}/author_central")%></li>
						  <li class="thn"><%= link_to("作家一覧","/author_menu")%></li>
						  <li class="thn"><%= link_to("作品ジャンル","/category_all")%></li>
					</ul>
				</li>
			  </ul>
			  <div class="clear clear_right"></div>
		  <%else%>
		  <ul class="menu1">
				<li class="teacher_header_name thm thn"><span>MENU▼</span>
					<ul class="sub thn">
						  <li class="thn"><%= link_to("作家一覧","/author_menu")%></li>
						  <li class="thn"><%= link_to("作品ジャンル","/category_all")%></li>
						  <li class="thn"><%= link_to("小説家登録","/author_register")%></li>
						  <li class="thn"><%= link_to("読者登録","/reader_register")%></li>
						  <li class="thn"><%= link_to("ログイン","/login_form")%></li>
					</ul>
				</li>
			 </ul> 
		  <div class="clear clear_right"></div>
		  <%end%>
	  </div>
	</header>
	
	<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
	<%end%>
	
    <%= yield %>
  </body>
</html>
